@section Styles {
    <link href="@Url.Content("~/css/calculator.css")" rel="stylesheet" type="text/css" />
}

<form name="calculator">
   <table>
      <tr>
         <td colspan="4">
            <input type="text" name="display" id="display" disabled>
         </td>
      </tr>
      <tr>
            <td><input type="button" name="one" value="1" onclick="calculator.display.value += '1'"></td>
            <td><input type="button" name="two" value="2" onclick="calculator.display.value += '2'"></td>
            <td><input type="button" name="three" value="3" onclick="calculator.display.value += '3'"></td>
            <td><input type="button" class="operator" name="plus" id="plus" value="+" onclick="setOperation(`+`);"></td>
     </tr>
     <tr>
            <td><input type="button" name="four" value="4" onclick="calculator.display.value += '4'"></td>
            <td><input type="button" name="five" value="5" onclick="calculator.display.value += '5'"></td>
            <td><input type="button" name="six" value="6" onclick="calculator.display.value += '6'"></td>
            <td><input type="button" class="operator" name="minus" id="minus" value="-" onclick="setOperation(`-`);"></td>
     </tr>
     <tr>
            <td><input type="button" name="seven" value="7" onclick="calculator.display.value += '7'"></td>
            <td><input type="button" name="eight" value="8" onclick="calculator.display.value += '8'"></td>
            <td><input type="button" name="nine" value="9" onclick="calculator.display.value += '9'"></td>
            <td><input type="button" class="operator" name="area" id="area" value="πr²" onclick="setOperation(`πr²`);"></td>
     </tr>
     <tr>
            <td><input type="button" id="clear" name="clear" value="c" onclick="clearDisplay();"></td>
            <td><input type="button" name="zero" value="0" onclick="calculator.display.value += '0'"></td>
            <td><input type="button" name="equals" value="=" id="equals" onclick="calculate(calculator.display.value);"></td>
            <td></td>      
      </tr>
   </table>
</form>

@section Scripts {
   <script>
      function setOperation(opString){
         calculator.display.value += opString;
         disableOps();
      };

      function enableOps(){
         document.getElementById("minus").disabled = false;
         document.getElementById("plus").disabled = false;
         document.getElementById("area").disabled = false;
      };

      function disableOps(){
         document.getElementById("minus").disabled = true;
         document.getElementById("plus").disabled = true;
         document.getElementById("area").disabled = true;
      };

      function clearDisplay(){
         calculator.display.value = ``;
         enableOps();
      };

      function calculate(values){
         console.log('operation is :' + values);
         if(values.includes(`πr²`)) 
         {  
            calculateRadiusOfCircle(values);
         }
         else if(values.includes(`+`)){
            calculateAdd(values);
         }
         else if(values.includes(`-`)){
            calculateSubtract(values);
         }
      };

      function calculateAdd(values){
            let arr = values.split('+');
            let lValue = arr[0];
            let rValue = arr[1];
            axios.post('https://localhost:5001/api/calculator/add/', {
            lValue :lValue,
            rValue:rValue
         })
         .then(function (response) {
            calculator.display.value += `=` + response.data.result;
         })
         .catch(function (error) {
            console.log(error);
         });      
      };

      function calculateSubtract(values){
            let arr = values.split('-');
            let lValue = arr[0];
            let rValue = arr[1];
            axios.post('https://localhost:5001/api/calculator/subtract/', {
            lValue :lValue,
            rValue:rValue
         })
         .then(function (response) {
            calculator.display.value += `=` + response.data.result;
         })
         .catch(function (error) {
            console.log(error);
         });      
      };

      function calculateRadiusOfCircle(values){
          let radius = values.replace(`πr²`, ``);
            axios.post('https://localhost:5001/api/calculator/areaOfCircle/', {
            radius: radius
         })
         .then(function (response) {
            calculator.display.value += `=` + response.data.area;
         })
         .catch(function (error) {
            console.log(error);
         });      
      };
   </script>
}